<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Fichar - Mi Aplicación</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <style>
        .cronometro-buttons {
            margin-bottom: 10px; /* Agrega margen inferior entre los botones y el cronómetro */
        }
    </style>
</head>
<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <button onclick="location.href='/';" type="button" class="btn btn-primary">Volver al Inicio</button>
        <button onclick="location.href='/login';" type="button" class="btn btn-primary ml-auto">Cerrar sesión</button>
    </nav>

    <div class="container-fluid mt-4">
        <div class="row justify-content-center">
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title" style="font-size: 25px;">Registro de Jornada laboral</h5>
                        <p class="card-text" style="font-size: 20px;">Aquí podrás registrar las horas de entrada y salida de jornada laboral</p>
                        <div class="cronometro-buttons">
                            <button id="startCronometro" class="btn btn-success">Iniciar</button>
                            <button id="stopCronometro" class="btn btn-danger">Detener</button>
                            <button id="saveCronometro" class="btn btn-primary">Guardar</button>
                        </div>
                        <span id="cronometro" style="font-size: 20px;">00:00:00</span>
                        <div id="inicio" style="font-size: 20px;"></div> <!-- Agregar el elemento donde se mostrará la fecha y hora de inicio -->
                    </div>
                </div>
            </div>
    
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title" style="font-size: 25px;">Registro de Fichajes</h5>
                        <p class="card-text" style="font-size: 20px;">Aquí podrás revisar los registros de días trabajados pasados</p>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Hora de inicio</th>
                                    <th>Hora de fin</th>
                                    <th>Duración</th>
                                    <th>Fecha</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="entry : ${workEntries}">
                                    <td th:text="${entry.startTime}"></td>
                                    <td th:text="${entry.endTime}"></td>
                                    <td th:text="${entry.duration}"></td>
                                    <td th:text="${entry.date}"></td>
                                </tr>
                            </tbody>
                        </table>  
                    </div>
                </div>
            </div>
        </div>
    </div>


    <footer class="footer mt-auto py-3 bg-light fixed-bottom">
        <div class="container">
            <span class="text-muted">Factor RRHH</span>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.7.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    
    <script>
        let cronometroTimer;
        let cronometroTime = 0;
        let cronometroRunning = false;
    
        function updateCronometroDisplay() {
            const hours = Math.floor(cronometroTime / 3600).toString().padStart(2, '0');
            const minutes = Math.floor((cronometroTime % 3600) / 60).toString().padStart(2, '0');
            const seconds = (cronometroTime % 60).toString().padStart(2, '0');
            document.getElementById('cronometro').textContent = `${hours}:${minutes}:${seconds}`;
        }
    
        document.getElementById('startCronometro').addEventListener('click', function() {
            if (!cronometroRunning) {
                cronometroRunning = true;
                cronometroTimer = setInterval(function() {
                    cronometroTime++;
                    updateCronometroDisplay();
                }, 1000);

                // Obtener la fecha y hora de inicio
                const fechaHoraInicio = new Date().toLocaleString();

                // Mostrar la fecha y hora de inicio debajo del cronómetro
                document.getElementById('inicio').textContent = `Inicio de la jornada Laboral: ${fechaHoraInicio}`;
            }
        });
    
        document.getElementById('stopCronometro').addEventListener('click', function() {
            if (cronometroRunning) {
                clearInterval(cronometroTimer);
                cronometroRunning = false;
            }
        });
    
        document.getElementById('saveCronometro').addEventListener('click', function() {
            if (cronometroRunning) {
                stopCronometro();  // Detiene el cronómetro si está corriendo
            }
            if (cronometroTime > 0) {
                // Envía el tiempo a tu backend para que se guarde en la base de datos
                fetch('/saveTime', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ time: cronometroTime }),
                })
                .then(response => response.json())
                .then(data => {
                    console.log('Success:', data);
                    cronometroTime = 0;
                    updateCronometroDisplay(0);  // Resetea la visualización del cronómetro
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
            } else {
                alert("Por favor, inicia el cronómetro antes de guardar.");
            }
        });

    
        // Inicializa el cronómetro al cargar la página
        updateCronometroDisplay();
    </script>
    
</body>
</html>
