
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Home RH - Mi Aplicación</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <!-- Aquí puedes añadir tu barra de navegación y otros elementos del encabezado -->
        <button onclick="location.href='/login';" type="button" class="btn btn-primary ml-auto">Cerrar sesion</button>
    </nav>
    <div style="margin-top: 20px;"></div>

    <div class="container-fluid mt-4 text-center">
        <h2>Bienvenido a la página de Recursos Humanos</h2>
    </div>

    <div class="container-fluid mt-4">
        <div class="row justify-content-center">
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title" style="font-size: 25px;">Registro Horario</h5>
                        <p class="card-text" style="font-size: 20px;">Aquí podrás registrar las horas de entrada y salida de jornada laboral</p>
                        <div class="home-buttons">
                            <button onclick="location.href='/fichar';" type="button" class="btn btn-primary btn-block">Fichar</button>
                            <button onclick="location.href='/archivos'" type="button" class="btn btn-secondary btn-block mt-2">Archivos</button>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title" style="font-size: 25px;">Gestión de empleados</h5>
                        <p class="card-text" style="font-size: 20px;">Aquí podrás administrar las distintas solicitudes de los empleados</p>
                        <div class="home-buttons">
                            <button type="button" class="btn btn-outline-primary btn-block" onclick="location.href='/gestionar/baja'">Gestionar Baja</button>
                            <button type="button" class="btn btn-outline-success btn-block mt-2" onclick="location.href='/gestionar/vacaciones'">Gestionar Vacaciones</button>
                            <button type="button" class="btn btn-outline-warning btn-block mt-2" onclick="location.href='/todas'">Gestionar Ausencia</button>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title" style="font-size: 25px;">Gestión de talento</h5>
                        <p class="card-text" style="font-size: 20px;">Aquí podrás ver las distintas aplicaciones para nuevos puestos de trabajo</p>
                        <div class="home-buttons">
                            <button type="button" class="btn btn-primary btn-block" onclick="location.href='/gestionar/talento'">Gestionar Talento</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <footer class="footer mt-auto py-3 bg-light fixed-bottom">
        <div class="container">
            <div class="text-center">
                <span class="text-muted" style="align-items: center;">Factor RRHH</span>
            </div>
    </footer>

    <!-- Scripts necesarios para Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.7.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>
